.cards__item {
  width: 300px;
  height: 68vh;
  overflow: hidden;
  position: relative;
  border-radius: 16px;
  box-shadow: -20px 0 10px -10px var(--dark-text);
  background: linear-gradient(85deg, var(--accent-back), var(--dark-text));
  box-sizing: border-box;
  padding: 10px;
  margin-left: -20px;
  transition: all 0.3s;
}

.cards__item:first-of-type {
  margin-left: 0;
}

.cards__item:last-of-type {
  margin-right: 8px;
}

.cards__item:hover {
  transform: translateY(-20px);
  margin-right: 30px;
  height: max-content;
  min-height: 68vh;
}
