.form__input {
  background-color: transparent;
}

.form__input[type="text"],
.form__input[type="tel"],
.form__input[type="email"] {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: var(--dark-text);
  border-radius: 4px;
  padding: 5px;
}

.form__input[type="text"]:focus {
  outline-color: var(--accent-bright);
  box-shadow: 0 0 4px var(--accent-bright);
}

.form__input[type="tel"]:focus {
  outline-color: var(--accent-bright);
  box-shadow: 0 0 4px var(--accent-bright);
}

.form__input[type="email"]:focus {
  outline-color: var(--accent-bright);
  box-shadow: 0 0 4px var(--accent-bright);
}

.form__input::placeholder,
.form__input::-webkit-input-placeholder,
.form__input::-moz-placeholder,
.form__input::-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.form__input[type="radio"] {
  height: 0;
  width: 0;
  display: inline-block;
  position: relative;
  margin-left: 30px;
  clip: rect(0 0 0 0);
}

.form__input[type="radio"]::before {
  content: "";
  position: absolute;
  left: -30px;
  top: -15px;
  height: 30px;
  width: 30px;
  background-image: url(../../images/heart-outline.svg);
  background-size: 20px;
  background-position: top left;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
  overflow: visible;
}

input[type="radio"]:checked::before {
  background-image: url(../../images/heart-color.svg);
}
