.form__label {
  display: inline-block;
  min-width: 150px;
  font-size: 16px;
  font-weight: 600;
  line-height: 40px;
}

@media screen and (max-width: 600px) {
  .form__label {
    display: block;
  }
}
