.img-section {
  padding: 0 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  color: white;
  background-size: cover;
}

@supports (background-attachment: fixed) {
  .img-section {
    background-attachment: fixed;
  }
}

@media screen and (max-width: 900px) {
  .img-section {
    padding: 0 10%;
  }
}

@media screen and (max-width: 600px) {
  .img-section {
    padding: 0 16px;
  }
}
