.header__nav {
  width: 80%;
  margin: 50px auto 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  overflow-x: scroll;
  scrollbar-width: none;
}

.header__nav::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 600px) {
  .header__nav {
    width: 90%;
    margin-top: 40px;
  }
}
