.root {
  font-family: "Montserrat", sans-serif;
  background-color: var(--main-back);
  margin: auto;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  position: relative;
  overflow-x: hidden;
}

/* .root::before {
  content: "";
  width: 90%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 5%;
  background-image: url(../../images/back/back1.jpg);
  background-size: cover;
  z-index: -1;
} */
