.root {
  font-family: "Montserrat", sans-serif;
  background-color: var(--main-back);
  margin: auto;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  position: relative;
  overflow-x: hidden;
}
