.solid-section_scrolled {
  gap: 0;
}

.solid-section_scrolled::after {
  content: " ";
  width: 8px;
  height: 550px;
  background-image: linear-gradient(var(--accent-bright), var(--accent-soft));
  border-radius: 16px;
  position: absolute;
  top: 80px;
  right: -4px;
}

@media screen and (max-width: 767px) {
  .solid-section_scrolled {
    gap: 60px;
  }

  .solid-section_scrolled::after {
    top: 175px;
  }
}

@media screen and (max-width: 600px) {
  .solid-section_scrolled::after {
    right: 8px;
  }
}
